html {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    color: #495057;
    font-size: 12px;
    margin-left: 5%;
    margin-right: 5%;
}

/*HEADER*/

#header {
    overflow: auto;
    white-space: nowrap;
    cursor: default;
    height:80px;
    overflow-y: hidden;
    justify-content: center;
    align-items: center;
}

#nav-table {
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;

}

#left-column, #right-column{
    width: 30%;
}

#left-column {
    text-align: left;
}

#right-column {
    text-align: right;
    position: relative;
}

#middle-column{
    width: 40%;
    height: 80px;
    text-align: center;
    align-items: center;
}

/*VENCE TEXT*/

#vence-header , .vence-dot{
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    cursor: default;
    user-select: none;
}

.vence-dot {
    color: #ddbea9;
}

/*MENU*/

.menu-element{
    list-style: none;
    margin: 20px;
    background-color: transparent;
    transition: all 0.2s ease-in-out;
    transform-origin: center;
    opacity: 50%;
    display: inline-block;
    text-underline-offset: 0.5em;
    text-decoration-color: #ddbea9;
    text-decoration-thickness: 2px;
}


.menu-element:hover , .fa-search:hover{
    opacity: 100%;
    text-decoration: underline;

}

#selected-element{
    opacity: 100%;
    text-decoration: underline;
}

#header-divider {
    border-left: 1px solid #e5e5e5;
    top: 30%;
    bottom: 30%;
    position: absolute;
    right: 25px;
}

.fa {
    color: #495057;
    opacity: 50%;
    transition: transform 0.2s;
    transform-origin: center;
}

/*MAIN BODY*/

#main-image-slider-container{
    width: 100%;
    max-height: 40vw;
    position: relative;
    overflow: hidden;
    user-select: none;
    cursor: default;

}

#main-image-slider {
    width: 100%;
    height: 40vw;
    background-image: url('https://api.slingacademy.com/public/sample-photos/1.jpeg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.main-image-slides {
    display: none;
    width: 100%;
}

.main-image-slides img {
    width: 100%;
    height: auto;
}

#left, #right {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;

}
#right {
    right: 0;
}

#main-image-writer {
    color: #e5e5e5;
    position: absolute;
    width: 100%;
    text-align: center;
    top: 40%;
    font-weight: 300;
}

#main-image-title {
    color: #f8f9fa;
    position: absolute;
    width: 100%;
    text-align: center;
    top: 50%;
    font-weight: 700;
    font-size: 25px;
}

#main-image-counter {
    color: #f8f9fa;
    position: absolute;
    width: 100%;
    text-align: center;
    bottom: 5%;
    font-weight: 300;
}
