html {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    color: #495057;
    font-size: 12px;
    line-height: 25px;
}

/*HEADER*/

header {
    overflow: auto;
    white-space: nowrap;
    cursor: default;
    height: 80px;
    overflow-y: hidden;
    align-items: center;
    margin: 0 5% 0 5%;
    display: flex;
    justify-content: space-between;
    min-width: 300px;
}

#header-vence {
    flex: 1;
}

#header-options {
    flex: 1;
    text-align: center;
}

#header-social {
    flex: 1;
    text-align: right;
}

/*VENCE TEXT*/

#header-vence-text, .vence-dot{
    font-weight: 700;
    font-size: 18px;
    cursor: default;
    user-select: none;
}

.vence-dot {
    color: #ddbea9;
}

/*MENU*/

.menu-element{
    margin: 20px;
    transition: all 0.2s ease-in-out;
    transform-origin: center;
    opacity: 50%;
    display: inline-block;
    text-underline-offset: 0.5em;
    text-decoration-color: #ddbea9;
    text-decoration-thickness: 2px;
}


.menu-element:hover , .fa-search:hover{
    opacity: 100%;
    text-decoration: underline;

}

#selected-element{
    opacity: 100%;
    text-decoration: underline;
}

#header-divider {
    display: inline-block;
    width: 1px;
    height: 25px;
    background-color: #e5e5e5;
    margin: 0 10px;
    position: relative;
    top: 10px;
}


.fa {
    color: #495057;
    opacity: 50%;
    transition: transform 0.2s;
    transform-origin: center;
}

/*MAIN BODY*/

#content {
    margin: 0 5% 0 5%;
}

#main-image-slider-container{
    width: 100%;
    max-height: 40vw;
    position: relative;
    overflow: hidden;
    user-select: none;
    cursor: default;

}

#main-image-slider {
    width: 100%;
    height: 40vw;
    background-image: url('https://api.slingacademy.com/public/sample-photos/1.jpeg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

#main-image-writer {
    color: #e5e5e5;
    position: absolute;
    width: 100%;
    text-align: center;
    top: 40%;
    font-weight: 300;
}

#main-image-title {
    color: #f8f9fa;
    position: absolute;
    width: 100%;
    text-align: center;
    top: 50%;
    font-weight: 700;
    font-size: 25px;
}

#main-image-counter {
    color: #f8f9fa;
    position: absolute;
    width: 100%;
    text-align: center;
    bottom: 5%;
    font-weight: 300;
}

#left, #right {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;

}
#right {
    right: 0;
}

#blog-part-1 {
    margin-top: 7vw;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    cursor: default;
    user-select: none;
}

#blog-part-1-left {
    flex: 1;
    font-weight: 700;
    color: #212529;
    font-size: 25px;
    line-height: 40px;
}

#blog-part-1-filter {
    flex: 1;
    font-weight: 500;
    color: #c4c4c4;
    overflow-x: auto;
    display: inline-block;
    white-space: nowrap;
    text-align: right;
}

.filter-element {
    margin: 10px;
    display: inline-block;
    background-color: transparent;
    transition: all 0.2s ease-in-out;
    transform-origin: center;
}

.filter-element:hover {
    color: #495057;
}

#selected-filter {
    color: #495057;
}

/* BLOG */

#articles {
    display: flex;
    flex-wrap: wrap;
    gap: 2vw;
    margin-top: 45px;

}

.article-container {
    flex: 1;
    margin-bottom: 30px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    text-align: center;
}



.article-image {
    width: 393px;
    height: 250px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 15px;

}

.article-date {
    line-height: 20px;
    color: #495057;
    font-weight: 300;
    margin-bottom: 5px;
    text-align: left;
}

.article-title {
    text-align: left;
    line-height: 25px;
    color: #212529;
}


/* FOOTER */

footer {
    background-color: #212529;
    width: 100%;
    height: 22.5vw;
    align-items: center;
    color: #f8f9fa;
}

.footer-text {
    height: 40%;
    display: flex;
    overflow: auto;
    white-space: nowrap;
    cursor: default;
    user-select: none;
    overflow-y: hidden;
    justify-content: space-between;
    margin: 0 5% 0 5%;
}

#footer-upper {
    align-items: flex-end;
}

#footer-vence, #footer-options, #footer-social {
    flex: 1;
}

#footer-vence {
    font-size: 18px;
    font-weight: 700;
    opacity: 100%;
}

#footer-options {
    text-align: center;
    opacity: 50%;
}

#footer-social {
    text-align: right;
    opacity: 50%;
}

.footer-option-element {
    display: inline-block;
    padding: 0 20px 0 20px;
}

#footer-divider {
    border-bottom: 1px;
    color: #e5e5e5;
    margin: 2.5% 5% 2.5% 5%;
}

#footer-lower {
    align-items: flex-start;
    opacity: 50%;
}


/*
.menu-element{
    margin: 20px;
    background-color: transparent;
    transition: all 0.2s ease-in-out;
    transform-origin: center;
    opacity: 50%;
    display: inline-block;
    text-underline-offset: 0.5em;
    text-decoration-color: #ddbea9;
    text-decoration-thickness: 2px;
}
*/
